[Unit]
Description=mywebapp Task Tracker Socket Activation
Before=mywebapp.service

[Socket]
ListenStream=127.0.0.1:8080
NoDelay=true
Backlog=128

[Install]
WantedBy=sockets.target
